@import url('./normalize.css');
@import url('./components/Navbar.css');
@import url('./layout.css');
@import url('./components/PageHeader.css');
@import url('./components/NoticesLatest.css');
@import url('./components/WelcomeCarousel.css');
@import url('./components/SponsorsSlider.css');
@import url('./components/BestPlayers.css');
@import url('./components/Testimonials.css');
@import url('./components/UpcomingMatches.css');
@import url('./components/VisionMissionValues.css');
@import url('./components/NoticesPage.css');
@import url('./components/HistoryTimeline.css');
@import url('./components/Squads.css');
@import url('./components/newsDetail.css');
@import url('./components/Footer.css');
@import url('./components/HeroGrid.css');
@import url('./components/LoginPage.css');
@import url('./components/PlayerForm.css');
@import url('./components/AdminPlayersPage.css');
@import url('./components/admin/newsForm.css');
@import url('./components/admin/adminNewsPage.css');
@import url('./components/admin/adminPges.css');
@import url('./components/admin/CategoryForm.css');
@import url('./components/admin/SponsorForm.css');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background: linear-gradient(45deg, #0000 calc(25%/3), rgba(0, 0, 0, 0.02) 0 calc(50%/3),
      #0000 0 calc(250%/3), rgba(0, 0, 0, 0.02) 0 calc(275%/3),
      #0000 0), linear-gradient(45deg, rgba(0, 0, 0, 0.02) calc(25%/3), #0000 0 calc(50%/3),
      rgba(0, 0, 0, 0.02) 0 25%, #0000 0 75%,
      rgba(0, 0, 0, 0.02) 0 calc(250%/3), #0000 0 calc(275%/3),
      rgba(0, 0, 0, 0.02) 0),
    linear-gradient(-45deg, #0000 calc(25%/3), rgba(0, 0, 0, 0.02) 0 calc(50%/3),
      #0000 0 calc(250%/3), rgba(0, 0, 0, 0.02) 0 calc(275%/3),
      #0000 0), linear-gradient(-45deg, rgba(0, 0, 0, 0.02) calc(25%/3), #0000 0 calc(50%/3),
      rgba(0, 0, 0, 0.02) 0 25%, #0000 0 75%,
      rgba(0, 0, 0, 0.02) 0 calc(250%/3), #0000 0 calc(275%/3),
      rgba(0, 0, 0, 0.02) 0) #ffffff;
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;


}

/* html {
background:
      linear-gradient(135deg,#0000 18.75%,#ffffff 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#ffffff -6.25% 6.25%,#fcfcff 0 18.75%);
background-size: 114px 114px;

} */